@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body{
	font-family: 'PT Serif', serif;
	/* font-family: 'PT Sans', sans-serif; */
}
.navbar{
	padding: 0 !important;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	z-index: 33;
}
nav .logo-brand{
	background-color: #1a54e7;
	height: 50px;
}
nav .logo-brand .navbar-brand{
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	line-height: 40px;
}
nav .left-bar{
	height: 50px;
}
nav .left-bar .nav-item{
	line-height: 35px;
}
nav .left-bar .nav-item .nav-link{
	padding-right: 15px;
	padding-left: 15px;
	color: #b1b1b1;
}
nav .search{
	background-color: #f6f6f6;
}
nav .search button{
	left: 0;
	bottom: 0;
	transform: translate(0%,20%);
	height: 100%;
}
nav .dropdown-menu{
	padding: 0 !important;
}
nav .dropdown-menu.show{
	margin-top: 11px;
}
nav .dropdown-toggle::after{
	display: none;
}
nav .right-bar{
	height: 50px;
}
nav .right-bar .nav-item{
	line-height: 35px;
	position: relative;
	width: 70px;
	padding-right: 10px;
}
nav .right-bar .nav-item .nav-link{
	color: #1a54e7;
	text-align: center;
	margin-bottom: -4px;
}
nav .right-bar .nav-item .dot-m{
	line-height: 28px;
}
nav .right-bar .nav-item .nav-link i{
	font-size: 5px;
}
nav .right-bar .nav-item::after{
	content: "";
	position: absolute;
	height: 3px;
	width: 100%;
	transition: all 0.4s ease;
	background-color: #1a54e7;
	opacity: 0;
}
nav .right-bar .nav-item .nav-link:hover{
	color: #1a54e7;
}
nav .right-bar .nav-item:hover::after{
	opacity: 1;
}

/* banner */
.header-section{}
.header-section .carousel-caption{}
.header-section .carousel-caption .title{
	right: 0;
	bottom: 0;
	transform: translate(0%, -50%);
}
.header-section .carousel-caption .title h2{}
.header-section .carousel-caption ul{}
.header-section .carousel-caption ul li{
	font-family: 'PT Sans', sans-serif;
	color: #b0b0b0;
}
/* banner bottom */
.banner-bottom{
	background-color: #F6F6F6;
}
.banner-bottom .banner-b .banner-b-i{
	position: relative;
}
.banner-bottom .banner-b span{
	position: absolute;
    /* top: 190px; */
    top: 54%;
    left: 15px;
    color: #fff;
    background-color: #d90445;
    padding: 5px 10px 5px 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}
.banner-bottom .banner-b .tech{
	background-color: #000;
}
.banner-bottom .banner-b p{
	font-size: 20px;
	font-weight: 500;
}
.banner-bottom .banner-b .b-info{
	font-family: 'PT Sans', sans-serif;
	color: #b0b0b0;
	font-size: 12px;
}
/* gallery section */
.gallery{
	padding: 35px 0;
}
.gallery .gallery-header{}
.gallery .gallery-header .header-img{
	position: relative;
}
.gallery .gallery-header .i-content{
	position: absolute;
    text-align: center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 100%);
    color: #fff;
}
.gallery .gallery-header .i-content h2{
	font-size: 42px;
}
.gallery .gallery-header .i-content p{
	font-size: 17px;
}
.gallery .gallery-header ul{
	position: absolute;
	width: 95%;
	bottom: 35px;
}
.gallery .gallery-header ul li{
	color: #b0b0b0;
}
.gallery .gallery-header ul li span{
    top: 190px;
    left: 15px;
    color: #fff;
    background-color: #d90445;
    padding: 7px 10px 7px 15px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}
.gallery .show-gallery{}
.gallery .show-gallery .gallery-img{
	position: relative;
}
.gallery .show-gallery .nature{
	position: absolute;
	top: 58%;
    left: 15px;
    color: #fff;
    background-color: #58b600;
    padding: 7px 10px 7px 15px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}
.gallery .show-gallery p{
	font-size: 17px;
	/* font-weight: 500; */
	color: #000;
}
.gallery .show-gallery .g-info{
	font-family: 'PT Sans', sans-serif;
	color: #b0b0b0;
	font-size: 12px;
}
.gallery .show-gallery .people{
	position: absolute;
	top: 58%;
    left: 15px;
    color: #fff;
    background-color: #1a54e7;
    padding: 7px 10px 7px 15px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}
.gallery .show-gallery .tech{
	position: absolute;
	top: 58%;
    left: 15px;
    color: #fff;
    background-color: #000000;
    padding: 7px 10px 7px 15px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}
.gallery .show-gallery .trips{
	position: absolute;
	top: 58%;
    left: 15px;
    color: #fff;
    background-color: #d90445;
    padding: 7px 10px 7px 15px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}
.gallery .show-gallery .fashion{
	position: absolute;
	top: 58%;
    left: 15px;
    color: #fff;
    background-color: #8200b2;
    padding: 7px 10px 7px 15px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
}
/* form section */
.form{
	background-image: url(../img/bg-sign.png);
	background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: -10px;
}
.form .form-content{
	bottom: 50%;
	left: 0%;
	transform: translate(0%, 50%);
}
.form .form-content h2{
	font-size: 40px;
	color: #fff;
}
.form .form-content p{
	color: #8baeff;
	font-size: 17px;
	margin-bottom: 35px;
}
.form .form-content .form-group input{
	border-radius: 30px !important;
	padding: 15px 60px;
	background-color: #2c6cff;
	border: 1px solid #2c6cff;
	color: #fff;
}
.form .form-content .form-group button{
	border-radius: 30px !important;
	background-color: #ffffff;
	color: #2c6cff;
	font-weight: 600;
	margin-left: -50px;
	border-color: #ffffff;
}
.form .form-content .form-group button:hover{
	background-color: #2c6cff;
	color: #ffffff;
	border-color: #ffffff;
}
/* footer section */
footer{
	background-color: #fff;
	height: 200px;
}
footer .f-content{
	bottom: 50%;
	left: 0%;
	transform: translate(0%, 50%);
}
footer .f-content p{
	color: #a7acbc;
}
footer .f-content p a{
	font-weight: 600;
	color: #a7acbc;
}


/* font-family: 'PT Sans', sans-serif; */




